body
{
    background-color: rgb(60, 90, 116);
    top: 0;
    left: 0;
    font-family: Impact, Arial, Helvetica, sans-serif, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


#innertext
{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-style: initial;
}

h1
{
  text-align: center;
  color: #ffffff;
  font-style: unset;
}

div
{
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-family: big john;
width: 100%;
height: 20vh;
}

.q
{
    background-image: url("abstract_tree-wallpaper-1920x1080.jpg");
    color: #ffffff;
    background-attachment: fixed;
}

